body {
    box-sizing: border-box;
    margin: 0;
    background-color: white;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: vinyl, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: 0;
    font-family: 'Proxima Nova';
}

main {
    margin-top: 40px;
}

/* Header styling */

header {
    height: 70px;
    background-color: white;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: -40px;
    z-index: 2;

}

header a,
header li {
    font-family: 'proxima-nova', sans-serif;
    font-weight: bold;
    color: #274976;
    text-decoration: none;
    /*    text-align: center;*/

}

.headerbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.logo {
    margin-left: 40%;
}

.logo img {
    height: 70px;
    cursor: pointer;

}

.burger {
    display: inline-block;
    cursor: pointer;
    margin-right: 5%;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #274976;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-46deg) translate(-8px, 7px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

nav {
    background-color: white;
}

ul {
    padding: 15px 15px 0;
    list-style-type: none;
    width: 100vw;
}

.hoejskole_dropdown li {
    padding: 7px;
}

.andre_tilbud_dropdown li {
    padding: 7px;
}


.menu_bredde {
    padding: 10px;
}

#menu {
    padding-bottom: 10px;
    padding-left: 10px;
}

.hidden_menu {
    display: none;
    opacity: 0;
}

.headerblock {
    margin-top: 40px;
    padding-bottom: 40px;
}


.specialefag_dropdown,
.idraetsfag_dropdown,
.almenefag_dropdown,
.interessefag_dropdown,
.faellesfag_dropdown {
    display: none;
}

.arrow_right_orange {
    width: 7px;
    margin: 0 7px;
}

.hoejskole img,
.andre_tilbud img {
    display: none;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.hide_hoejskole_dropdown {
    display: none;
}

@media(min-width: 1200px) {
    .burger {
        display: none;
    }

    .headerbar {
        height: 50px;
    }

    .hidden_menu {
        display: flex;
        opacity: 1;
        height: 10px;
    }

    .logo {
        margin: 20px 50px 0;
    }

    #menu {
        margin: -57px 11vw;
        width: 80vw;
        display: flex;
        /*        justify-content: space-evenly;*/
    }

    .hoejskole_dropdown li,
    .andre_tilbud_dropdown li {
        background-color: white;
        padding: 10px;
        margin-left: 40px;
        text-align: left;
        width: 150px;
    }

    .hoejskole_dropdown,
    .andre_tilbud_dropdown {
        margin: 18px 38px;
    }

    header a,
    header li {
        text-align: center;
    }


    .specialefag_dropdown,
    .idraetsfag_dropdown,
    .almenefag_dropdown,
    .interessefag_dropdown,
    .faellesfag_dropdown {
        position: absolute;
        margin-left: 120px;
        margin-top: -40px;
        /*        padding: 5px 0;*/
        display: none;
        /*        display: block;*/
        z-index: 1;
        color: #87A4CB;
    }

    .specialefag_dropdown li,
    .idraetsfag_dropdown li,
    .almenefag_dropdown li,
    .interessefag_dropdown li,
    .faellesfag_dropdown li {
        padding: 1px 5px;
        width: 174px;
        background-color: white;
        color: #274976;
        opacity: .8;
    }

    .menu_bredde {
        width: 147px;
        padding: 20px;
    }

    .specialefag:hover .specialefag_dropdown,
    .idraetsfag:hover .idraetsfag_dropdown,
    .almenefag:hover .almenefag_dropdown,
    .interessefag:hover .interessefag_dropdown,
    .faellesfag:hover .faellesfag_dropdown {
        display: block;
    }

    .hoejskole img,
    .andre_tilbud img {
        width: 10px;
        display: block;
    }

    .hoejskole img {
        margin: -12px 112px;
    }

    .andre_tilbud img {
        margin: -12px 130px
    }

    .arrow_right_orange {
        display: none;
    }
}

/*forside styling*/

#forside_medie_1 {
    height: 450px;
    background-color: #bfbfbf;
}

#tekst_1 {
    height: 450px;
    background-color: #9f9bff;
}

#tekst_2 {
    height: 350px;
    background-color: #262674;
}

#forside_medie_2 {
    height: 250px;
    background-color: #bfbfbf;
}

#cta {
    height: 300px;
    background-color: white;
}

#cta_buttons div {
    border: 2px solid orange;
}

/*
#galleri {
    height: 450px;
    background-color: greenyellow;
}
*/

/* Fag styling */

#top_box {
    height: 400px;
    background-color: #1d1d64;
}

#speciale_fag .content {}

/* om os styling */

#indhold h2 {
    color: #FF7F00;
}


/*
#omos #tekst_1 {
    background-color: #1d1d64;
}

#image_container {
    height: 400px;
    background-color: grey;
}

#header_2 {
    background-color: #3a3a86;
}
*/

/* tilmelding */

#tilmelding {
    background-color: #25259d;
}



/* footer styling */

footer {
    /*    height: 600px;*/
    background-color: #274976;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

footer img {
    width: 100%;
    height: 100%;
}

footer p {
    color: black;
    padding: 10px 40px 40px;
}

#some_link {
    display: flex;
    flex-direction: column;
}

.hoejskolerne {
    width: 100px;
    height: 28.19px;
}

.trustpilot {
    width: 100px
}

.some_innercontainer1 {
    display: flex;
}

.some_innercontainer2 {
    display: flex;
}

#some_link a {
    display: flex;
    height: 50px;
    width: 50px;
    border: 4px solid #274976;
    border-radius: 50%;
    background-color: #274976;
}

#some_link {
    display: flex;
}

.footer_cta {
    font-family: vinyl, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FF7F00;
    padding: 30px;
    font-size: 47px;
}

@media(min-width: 900px) {
    #some_link {
        flex-direction: row;
    }
}
